services:
  # Veritabanı (PostgreSQL)
  db:
    image: postgres:latest
    container_name: product_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: a5134ba8
      POSTGRES_DB: ProductDb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  # Cache (Redis)
  redis:
    image: redis:alpine
    container_name: product_cache
    ports:
      - "6379:6379"
    restart: always

  # Backend API (.NET)
  api:
    build:
      context: ./ProductAPI
      dockerfile: Dockerfile
    container_name: product_api
    depends_on:
      - db
      - redis
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=ProductDb;Username=postgres;Password=a5134ba8
      - ConnectionStrings__Redis=redis:6379
    restart: on-failure

  # Frontend (Next.js)
  frontend:
    build:
      context: ./product-client
      dockerfile: Dockerfile
    container_name: product_client
    # Hot Reload için dosya takibi (Linux/Windows WSL için önemli)
    environment:
      - WATCHPACK_POLLING=true
      # Tarayıcı (Client) için dış adres
      - NEXT_PUBLIC_API_URL=http://localhost:5000/api
      # Sunucu (Server Container) için iç adres
      - API_URL=http://product_api:8080/api
    ports:
      - "3000:3000"
    volumes:
      - ./product-client:/app
      - /app/node_modules # node_modules'u host'tan ezmemesi için
    depends_on:
      - api
    restart: always

volumes:
  postgres_data:
