services:
  # Veritabanı (PostgreSQL) -> Port 5001
  db:
    image: postgres:latest
    container_name: product_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: a5134ba8
      POSTGRES_DB: ProductDb
    ports:
      - "5001:5432" # Dışarıdan 5001 ile erişilir
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Cache (Redis) -> Port 5002
  redis:
    image: redis:alpine
    container_name: product_cache
    ports:
      - "5002:6379" # Dışarıdan 5002 ile erişilir
    restart: always

  # Backend API (.NET) -> Port 5000
  api:
    build:
      context: .
      dockerfile: Product.API/Dockerfile
    container_name: product_api
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "5000:8080" # Ana API kapısı
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # Konteynerlar arası iletişimde port değişmez (5432 ve 6379 kalır)
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=ProductDb;Username=postgres;Password=a5134ba8
      - ConnectionStrings__Redis=redis:6379
    volumes:
      - ./backend-logs:/app/logs
      - ./Product.API/wwwroot/images:/app/wwwroot/images
    restart: on-failure

  # Frontend (Next.js) -> Port 5003
  frontend:
    build:
      context: ./product-client
      dockerfile: Dockerfile
    container_name: product_client
    environment:
      - WATCHPACK_POLLING=true
      # Tarayıcı bu API'ye dışarıdan (host üzerinden) erişir, o yüzden 5000
      - NEXT_PUBLIC_API_URL=http://localhost:5000/api
      # Server-side render için iç ağdan erişim
      - API_URL=http://product_api:8080/api
    ports:
      - "5003:3000" # Siteye http://localhost:5003 adresinden gireceksin
    volumes:
      - ./product-client:/app
      - /app/node_modules
    depends_on:
      - api
    restart: always

volumes:
  postgres_data:
