@import "tailwindcss";

/* TEMAYI BURADA TANIMLIYORUZ (v4 Yöntemi) */
@theme {
  /* Renk Paleti - HEX kodları kullanabilirsin, RGB çevirmeye gerek yok */
  --color-background: #ffffff;
  --color-foreground: #171717;
  /* Koyu Gri */

  /* Turuncu (Orange-500) */
  --color-primary: #f97316;
  --color-primary-foreground: #ffffff;

  /*Hover*/
  --color-primary-dark: #ea580c;

  /* Arka plan detay rengi */
  --color-secondary: #f9fafb;
  --color-secondary-foreground: #111827;

  --color-border: #e5e7eb;
}

/* Next.js Body Ayarları */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}